<section>
    <div class="box-img"></div>
    <div class="blank-box">
        <div class="card">
            <img src="../../../../../assets/i.png">
            <div class="card-body">
                <p>Seja bem-vindo ao seu onboarding. 
                    Responda todas as perguntas com atenção e calma.
                    Não precisa ter medo, nem pressa. Se precisar pode voltar depois.
                </p>
                <button (click)="login()" type="submit">Let's go</button>
            </div>
        </div>
    </div>
</section>