<!-- <button (click)="register()" class="btn btn-success" type="submit">Cadastrar perguntas</button> -->

<div class="container-fluid">
    <div class="header-background card-header">
        <img src="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5cac6366154dfc8bbe552ea6_logo-zup.svg"
            alt="">
        <button (click)="register()" style="color: #fff;" class="btn" type="submit">Cadastrar perguntas</button>
    </div>
    <div class="card" *ngIf="showForm">
        <div class="card-body">
            <!-- <ul>
                <li *ngFor="let question of questionsList">{{question.description}}</li>
            </ul> -->
        </div>
        <form [formGroup]="answerForm" class="text-center" (ngSubmit)="submit()">
                <p>{{questionsList[index].description}}</p>
                <div>
                    <input type="radio" formControlName="alternatives" value="alternative1" id="alternative1">
                    <label for="alternative1">{{questionsList[index].alternatives[0].description}}</label>
                    <input type="radio" formControlName="alternatives" value="alternative2" id="alternative2">
                    <label for="alternative2">{{questionsList[index].alternatives[1].description}}</label>
                </div>
                <div>
                    <input type="radio" formControlName="alternatives" value="alternative3" id="alternative3">
                    <label for="alternative3">{{questionsList[index].alternatives[2].description}}</label>
                    <input type="radio" formControlName="alternatives" value="alternative4" id="alternative4">
                    <label for="alternative4">{{questionsList[index].alternatives[3].description}}</label>
                </div>
                <button  type="submit">Confirmar e enviar</button>
        </form>
        <div class="progress" style="margin-top: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
</div>